<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.neonsofts.www.nemesis">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.example.googlemaps.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FullScreenYoutubePlayer"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" />

        <service android:name=".push.NemesisMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".push.FirebaseIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <receiver android:name="push.Receiver">
            <intent-filter>
                <action android:name="com.neonsofts.www.nemesis" />
            </intent-filter>
        </receiver>

        <service android:name=".NotificationService" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".ScrollingActivity_news"
            android:label="@string/title_activity_scrolling_news"
            android:theme="@style/AppTheme"/>


        <service android:name=".MediaPlayerService" />

        <activity android:name=".LoginActivity" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".SignupActivity" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden" />
    </application>

</manifest>